<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>user_ins</servlet-name>
        <servlet-class>ecom.user_ins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uval</servlet-name>
        <servlet-class>ecom.uval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seller</servlet-name>
        <servlet-class>ecom.seller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>ecom.add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productadded</servlet-name>
        <servlet-class>ecom.productadded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcart</servlet-name>
        <servlet-class>ecom.addcart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Furniture</servlet-name>
        <servlet-class>ecom.Furniture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>ecom.Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addwishlist</servlet-name>
        <servlet-class>ecom.addwishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transaction</servlet-name>
        <servlet-class>ecom.transaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>ecom.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discart</servlet-name>
        <servlet-class>ecom.Discart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Diswishlist</servlet-name>
        <servlet-class>ecom.Diswishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtocart</servlet-name>
        <servlet-class>ecom.addtocart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_ins</servlet-name>
        <url-pattern>/user_ins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uval</servlet-name>
        <url-pattern>/uval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seller</servlet-name>
        <url-pattern>/seller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productadded</servlet-name>
        <url-pattern>/productadded</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Furniture</servlet-name>
        <url-pattern>/Furniture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addwishlist</servlet-name>
        <url-pattern>/addwishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transaction</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discart</servlet-name>
        <url-pattern>/Discart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Diswishlist</servlet-name>
        <url-pattern>/Diswishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtocart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
